
.imagem{
  width: 100%;
  margin-top: 50px;
}

.areas{
  font-size: 36px;
  line-height: 57px;
  color: #000000;
  font-family: 'Saira Condensed', sans-serif;
  margin: 30px 41px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.icone {
  width: 6%;
  height: 6%;
}

.text-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 2%;
}

a {
  /* pointer-events: stroke ; */
  cursor: default;
  text-decoration: none;
  color: black;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
} 

a:hover {
  color: #FF9212;
  text-decoration: none;
}


